{% load static %}
<!DOCTYPE html>
<html lang="es" data-coreui-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Espectro CG" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://app.espectrocg.com" />
    <meta property="og:image" content="https://jorgeeldis.github.io/spectrophotometer.png" />
    <meta property="og:description" content="This website has all the data that was uploaded from the spectrophotometer.">
    <meta name="author" content="Jorge Eldis">
    <meta name="description" content="This website has all the data that was uploaded from the spectrophotometer.">
    <meta name="keywords" content="coding, community, projects, research, tech, news, AI, electronics">

    <title>{% block title %}EspectroCG{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/examples.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/config.js' %}"></script>

</head>

<body>

    <div class="wrapper d-flex flex-column min-vh-100">


        {% include 'header.html' %}
      
        <div class="contenido">
            <!-- Contenido específico de cada página -->
            {% block content %}
            {% endblock %}
        </div>

        {% include 'footer.html' %}

    </div>


    <script>
        const header = document.querySelector('header.header');

        document.addEventListener('scroll', () => {
            if (header) {
                header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
            }
        });
    </script>
    <script src="{% static 'js/chart.umd.js' %}"></script>
    <script src="{% static 'js/coreui-chartjs.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/coreui.js' %}"></script>

</body>

</html>