{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="body flex-grow-1">
  <div class="container-lg px-4">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card mb-2 m-2">
          <div class="card-header">Recent graphs (PNG)</div>
          <div class="card-body">
            <div class="row">
              {% for file in files %}
                {% if file.type|lower == 'png' %}
                <div class="col-md-4 mb-4 d-flex justify-content-center"> <!-- 4 columns per row for a 3x3 grid -->
                  <div class="text-center" style="border: 1px solid #9fa4a8; padding: 20px; border-radius: 5px;"> <!-- Border, padding, and rounded corners for visual separation -->
                    <h6 class="card-subtitle mb-1">{{ file.name }}</h6>
                    <h6 class="card-subtitle mb-2">{{ file.date }}</h6>
                    <div class="image-container mb-2">
                      <img src="media/png/{{file.name}}" alt="{{file.name}}" style="max-width: 100%; height: auto;">
                    </div>
                    <!-- Button below the image -->
                    <button type="button" class="btn btn-primary mb-2" onclick="window.open('media/png/{{file.name}}','_blank')">View Details</button>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}