{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="body flex-grow-1">
  <div class="container-lg px-4">
    <div class="row mb-4">

      <!-- /.col-->
      <div class="col-md-12">

        <!-- Initialize counters -->
        
        <!-- Row for the YouTube video and project description -->
        <div class="row mb-4 mt-4 justify-content-center">
          <div class="col-lg-8 col-md-12">
            <div class="card mb-2 m-2 border-secondary">
              <div class="card-header bg-secondary text-white">Video explicativo del Proyecto</div>
              <div class="card-body">
                <div class="ratio ratio-16x9">
                  <iframe src="https://www.youtube.com/embed/GzNRwV-YawI?si=8HGJXOOgA0w8o5m_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="card mb-2 m-2 border-info">
              <div class="card-header bg-info text-white">Sobre el proyecto</div>
              <div class="card-body">
                <p>¡Bienvenidos! En esta página encontrarán la información generada por el espectrofotómetro EspectroCG. Aquí se recopilan los datos completos de las mediciones realizadas sobre los medios de transporte viral (MTV), junto con los informes detallados producidos por el equipo. Este recurso permite acceder fácilmente a los resultados y análisis de las pruebas, facilitando el seguimiento y comprensión de los experimentos realizados con el EspectroCG.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row mb-4">
          <div class="col-md-4">
            <div class="card mb-2 m-2 border-danger">
              <div class="card-header bg-danger text-white">Number of PDF Files</div>
              <div class="card-body">
                <h6 class="card-subtitle mb-1 mt-1">
                  {{ pdf_count }}
                </h6>
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-2 m-2 border-success">
              <div class="card-header bg-success text-white">Number of PNG Files</div>
              <div class="card-body">
                <h6 class="card-subtitle mb-1 mt-1">
                  {{ png_count }}
                </h6>
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-2 m-2 border-primary">
              <div class="card-header bg-primary text-white">Number of CSV Files</div>
              <div class="card-body">
                <h6 class="card-subtitle mb-1 mt-1">
                  {{ csv_count }}
                </h6>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-2 m-2">
          <div class="card-header">Recent graphs (PNG)</div>
          <div class="card-body">
            {% for file in files %}
            {% if file.type == 'PNG' %}
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-2">
              <div class="d-flex flex-column flex-md-row align-items-center">
                <h6 class="card-subtitle mb-1 mt-1">{{ file.name }}</h6>
                <h6 class="card-subtitle mb-1 mt-1">&nbsp;- {{ file.date }}</h6>
              </div>
              <div class="btn-toolbar mt-2 mt-md-0 mr-md-3" role="toolbar" aria-label="Toolbar with buttons">
                <button class="btn btn-primary m-1" onclick="window.open('media/{{ file.type|lower }}/{{ file.name }}','_blank')">
                  <svg class="icon">
                    <use xlink:href="{% static 'icons/svg/free.svg' %}#cil-cloud-download"></use>
                  </svg>
                </button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="card mb-2 m-2">
          <div class="card-header">Recent files (PDF)</div>
          <div class="card-body">
            {% for file in files %}
            {% if file.type == 'PDF' %}
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-2">
              <div class="d-flex flex-column flex-md-row align-items-center">
                <h6 class="card-subtitle mb-1 mt-1">{{ file.name }}</h6>
                <h6 class="card-subtitle mb-1 mt-1">&nbsp;- {{file.date}}</h6>
              </div>
              <div class="btn-toolbar mt-2 mt-md-0 mr-md-3" role="toolbar" aria-label="Toolbar with buttons">
                <button class="btn btn-primary m-1" onclick="window.open('media/pdf/{{file.name}}','_blank')">
                  <svg class="icon">
                    <use xlink:href="{% static 'icons/svg/free.svg' %}#cil-cloud-download"></use>
                  </svg>
                </button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>


        <div class="card mb-2 m-2">
          <div class="card-header">Recent data (CSV)</div>
          <div class="card-body">
            {% for file in files %}
            {% if file.type == 'CSV' %}
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-2">
              <div class="d-flex flex-column flex-md-row align-items-center">
                <h6 class="card-subtitle mb-1 mt-1">{{ file.name }}</h6>
                <h6 class="card-subtitle mb-1 mt-1">&nbsp;- {{file.date}}</h6>
              </div>
              <div class="btn-toolbar mt-2 mt-md-0 mr-md-3" role="toolbar" aria-label="Toolbar with buttons">
                <button class="btn btn-primary m-1" onclick="window.open('media/csv/{{file.name}}','_blank')">
                  <svg class="icon">
                    <use xlink:href="{% static 'icons/svg/free.svg' %}#cil-cloud-download"></use>
                  </svg>
                </button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}