{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="body flex-grow-1">
  <div class="container-lg px-4">
    <div class="row mb-4">

      <!-- /.col-->
      <div class="col-md-12">

        <div class="card mb-2 m-2">
          <div class="card-header">Recent graphs (PNG)</div>
          <div class="card-body">
            {% for file in files %}
            {% if file.type == 'PNG' %}
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-2">
              <div class="d-flex flex-column flex-md-row align-items-center">
                <h6 class="card-subtitle mb-1 mt-1">{{ file.name }}</h6>
                <h6 class="card-subtitle mb-1 mt-1">&nbsp;- {{file.date}}</h6>
              </div>
              <div class="btn-toolbar mt-2 mt-md-0 mr-md-3" role="toolbar" aria-label="Toolbar with buttons">
                <button class="btn btn-primary m-1" onclick="window.open('media/png/{{file.name}}','_blank')">
                  <svg class="icon">
                    <use xlink:href="{% static 'icons/svg/free.svg' %}#cil-cloud-download"></use>
                  </svg>
                </button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="card mb-2 m-2">
          <div class="card-header">Recent files (PDF)</div>
          <div class="card-body">
            {% for file in files %}
            {% if file.type == 'PDF' %}
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-2">
              <div class="d-flex flex-column flex-md-row align-items-center">
                <h6 class="card-subtitle mb-1 mt-1">{{ file.name }}</h6>
                <h6 class="card-subtitle mb-1 mt-1">&nbsp;- {{file.date}}</h6>
              </div>
              <div class="btn-toolbar mt-2 mt-md-0 mr-md-3" role="toolbar" aria-label="Toolbar with buttons">
                <button class="btn btn-primary m-1" onclick="window.open('media/pdf/{{file.name}}','_blank')">
                  <svg class="icon">
                    <use xlink:href="{% static 'icons/svg/free.svg' %}#cil-cloud-download"></use>
                  </svg>
                </button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>


        <div class="card mb-2 m-2">
          <div class="card-header">Recent data (CSV)</div>
          <div class="card-body">
            {% for file in files %}
            {% if file.type == 'CSV' %}
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-2">
              <div class="d-flex flex-column flex-md-row align-items-center">
                <h6 class="card-subtitle mb-1 mt-1">{{ file.name }}</h6>
                <h6 class="card-subtitle mb-1 mt-1">&nbsp;- {{file.date}}</h6>
              </div>
              <div class="btn-toolbar mt-2 mt-md-0 mr-md-3" role="toolbar" aria-label="Toolbar with buttons">
                <button class="btn btn-primary m-1" onclick="window.open('media/csv/{{file.name}}','_blank')">
                  <svg class="icon">
                    <use xlink:href="{% static 'icons/svg/free.svg' %}#cil-cloud-download"></use>
                  </svg>
                </button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}